name: CI

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason/Run name'
        required: true
        default: 'Manual trigger'

run-name: ${{ inputs.reason || github.event.pull_request.title || github.event.head_commit.message || 'unexpected workflow trigger' }}

env:
  SKIP_CI: false

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      skip-ci: ${{ env.SKIP_CI }}
    steps:
      - id: name-check
        name: Check PR name
        run: |
          if [[ "${{ github.event.pull_request.title }}" =~ ^doc\/.*$|^docs\/.*$|^no-ci\/.*$ ]]; then
            echo "Skipping CI for documentation-only PR"
            echo "SKIP_CI=true" >> $GITHUB_ENV
            exit 0
          fi

  build_debug_test_report:
    needs: check
    if: ${{ needs.check.outputs.skip-ci == 'false' }}
    runs-on: ubuntu-latest

    env:
      BUILD_TYPE: Debug

    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get install lcov
        sudo apt-get install valgrind

    - name: configure
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -j18 -C ${{env.BUILD_TYPE}} -T test --output-on-failure --progress --output-log testReport.txt

    - name: Memory leaks
      working-directory: ${{github.workspace}}/build
      run: ctest -D ExperimentalMemCheck ${{env.BUILD_TYPE}} --output-on-failure --fail-on-leaks --output-log memReport.txt

    - name: Coverage
      working-directory: ${{github.workspace}}/build
      run: make coverage

    - name: Setup LCOV
      uses: hrishikesh-kadam/setup-lcov@v1

    - name: Report code coverage
      uses: zgosalvez/github-actions-report-lcov@v4
      with:
        coverage-files: report/coverage.info
        minimum-coverage: 90
        artifact-name: code-coverage-report
        github-token: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ${{github.workspace}}/src
        update-comment: true

    - name: Report valgrind by adding a comment
      uses: actions/github-script@v5
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const fs = require('fs');
          const issueNumber = context.issue.number;
          const repo = context.repo;
          const memReport = fs.readFileSync('./build/memReport.txt');
          await github.rest.issues.createComment({
            ...repo,
            issue_number: issueNumber,
            body: `### Valgrind report\n\n\`\`\`\n${memReport}\n\`\`\``,
          });
