name: CI

on:
  pull_request:
    types: [ opened, review_requested ]
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason/Run name'
        required: true
        default: 'Manual trigger'
      debug_linux:
        description: 'Build and test on Linux using debug configuration'
        required: true
        type: boolean
        default: true
      release_linux:
        description: 'Build and test on Linux using release configuration'
        required: true
        type: boolean
        default: true
      debug_windows:
        description: 'Build and test on Windows using debug configuration'
        required: true
        type: boolean
        default: false
      release_windows:
        description: 'Build and test on Windows using release configuration'
        required: true
        type: boolean
        default: false

run-name: ${{ inputs.reason || github.event.pull_request.title || github.event.head_commit.message || 'unexpected workflow trigger' }}

jobs:
  build_debug_and_test_linux:

    if: ${{ (github.event_name != 'workflow_dispatch') || (github.event.inputs.debug_linux == 'true') }}

    runs-on: ubuntu-latest

    env:
      BUILD_TYPE: Debug

    steps:
    
    - uses: actions/checkout@v3
    
    - name: configure
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}

  build_release_and_test_linux:

    if: ${{ (github.event_name != 'workflow_dispatch') || (github.event.inputs.release_linux == 'true') }}

    runs-on: ubuntu-latest

    env:
      BUILD_TYPE: Release

    steps:
    
    - uses: actions/checkout@v3
    
    - name: configure
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}

  build_debug_and_test_windows:

    if: ${{ (github.event_name != 'workflow_dispatch') || (github.event.inputs.debug_windows == 'true') }}

    runs-on: windows-latest

    env:
      BUILD_TYPE: Debug

    steps:
    
    - uses: actions/checkout@v3
    
    - name: configure
      run: cmake -B ${{github.workspace}}\build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    
    - name: Build
      run: cmake --build ${{github.workspace}}\build --config ${{env.BUILD_TYPE}}
    
    - name: Test
      working-directory: ${{github.workspace}}\build
      run: ctest -C ${{env.BUILD_TYPE}}

  build_release_and_test_windows:

    if: ${{ (github.event_name != 'workflow_dispatch') || (github.event.inputs.release_windows == 'true') }}

    runs-on: windows-latest

    env:
      BUILD_TYPE: Release

    steps:
    
    - uses: actions/checkout@v3
    
    - name: configure
      run: cmake -B ${{github.workspace}}\build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    
    - name: Build
      run: cmake --build ${{github.workspace}}\build --config ${{env.BUILD_TYPE}}
    
    - name: Test
      working-directory: ${{github.workspace}}\build
      run: ctest -C ${{env.BUILD_TYPE}}
