name: Code Hygiene

on:
  pull_request:
    types: [ opened, reopened, review_requested, ready_for_review ]
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason/Run name'
        required: true
        default: 'Manual trigger'

run-name: ${{ inputs.reason || github.event.pull_request.title || github.event.head_commit.message || 'unexpected workflow trigger' }}

jobs:
  linelint:
    runs-on: ubuntu-latest
    name: Check for newline at end of file
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Linelint
        uses: fernandrone/linelint@0.0.4
